<section>
    <header class="text-center">
      <h2 class="mt-4">Related products</h2>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
          
          <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging">
            
            <ng-container *ngFor="let item of carouselData; let i=index">
              <ng-template carouselSlide>
                <!-- <div class="card">
                  <img class="card-img-top" src={{item.productImageUrl}} alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Stock</p>
                    <h6>{{item.price.currency}} {{item.price.formattedValue}}</h6>
                    <a href="#" class="btn btn-primary">Buy now</a>
                  </div>
                </div> -->

                  <div class="card-info text-center">
                    <div class="card-wrapper">
                      <div class="card-image">
                        <img src={{item.productImageUrl}}>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4>{{item.name}}</h4>
                      <div class="description">
                        <p>Stock</p>
                        <h6>{{item.price.currency}} {{item.price.formattedValue}}</h6>
                      </div>
                      <div class="card-btn-wrapper">
                        <a href="#" class="btn btn-primary">Buy now</a>
                      </div>
                    </div>
                  </div>

              </ng-template>
            </ng-container>
            
          </owl-carousel-o>
    
        </div> <!-- /.col-sm-10 col-sm-offset-1 -->
        
      </div> <!-- row -->
      
    </div> <!-- /.container -->
  </section>